.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &_light-theme {
    color: #000000;
  }

  &_dark-theme {
    color: #ffffff;
  }

  &_accent-color {
    color: var(--accent-color);
  }
}
